/* app */

.App {
  text-align: center;

 
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;


  display: flex;  
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin-top: -15px;
}

.output-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.material-symbols-sharp {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


::selection {
  background: #05203A12;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


/* illustration  */


.illustration-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.illustration-name {
  text-align: start;
  font-size: 16px;
  color: #515151;
  font-weight: 300;
  cursor: pointer;
  user-select: none;
  width: 80px;

}

.illustration-actions {
  width: 60vh;
  height: 24px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.download-icon {
  font-size: 22px;
  font-weight: 300;
  cursor: pointer;
  color: #515151;
}

.illustration-name:hover {
  color: #05203A;
  text-decoration: underline;
  text-decoration-color: #05203A;
}

.illustration {
  height: 60vh !important;
  width: 60vh !important;

  box-shadow: 0px 20px 40px #05203A09;
}

/* color tags  */

.color-tags {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  width: 60vh;
}
.color-tag {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

}
 
.color-tag-info-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 12px;

}

.color-tag-title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}


.color-tag-info {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  margin-top: 2px;
  color: #515151;
  cursor: pointer;
  user-select: none;
  width: 150px;
  text-align: left;

}

.color-tag-info:hover {
  color: #05203A;
  text-decoration: underline;
  text-decoration-color: #05203A;
}

/* info container and method  */

.info-container {
  width: 60vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 10px;
}
hr {
  width: 100%;
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 16px 0;
}
.method-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  margin-top: 8px;
    width: 60vh;


}

.method-title {
  font-size: 18px;
  font-weight: 500;
  margin: 0;

  display: flex;
  flex-direction: row;
  text-align: left;
}

.method-info {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  text-align: left;
  height: 45px;
}

/* header */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 60vh;
  height: 50px;
  padding-bottom: 5px;

}

.tre {
  font-size: 72px;
  font-weight: 400;
  
}

.info {
  font-size: 17px;
  font-weight: 300;
  margin-left: 14px;
  color: #515151;
  margin-top: 26px;
  text-align: left;
}

.lock-toggle {
  font-size: 18px;
  cursor: pointer;
  padding-right: 5px;
  padding-top: 2px;
  user-select: none;
}

.lock-toggle:hover {
  color: #05203A;
}

/* export popup */  
.export-popup {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.export-content {
  padding: 10px;
  width: 60vh;
}

.export-info {
  font-size: 24px;
  font-weight: 200;
  margin-left: 10px;
  margin-top: 55px;
}

.export-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;

  width: 60vh;
  height: 50px;
}

.popup-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 40px;
}

.popup-button {
  font-size: 18px;
  font-weight: 200;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.export-illustration {
  height: 60vh;
  width: 60vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}


/* responsiveness */

@media only screen and (max-width: 600px) {
  .App {
    display: flex;
    align-items: center;
    justify-content: flex-start;  
    height: 120vh;  
  }

  .header {
    width: 40vh;
    margin-top: 32px;
    padding-bottom: 0px;
  }

  .tre {
    font-size: 48px;
    width: 48px;
  }

  .info {
    font-size: 12.5px;
    margin-top: 52px;
    margin-right: 14px;
    
  }
  .illustration {
    height: 40vh !important;
    width: 40vh !important;
  }

  .illustration-actions {
    width: 40vh;

  }

  .download-icon {
    font-size: 18px;
  }

  .illustration-name {
    font-size: 12px;
    width: 60px;
  }

  .computer-instructions {
    visibility: hidden;
  }

  .illustration-container {
    width: 40vh;
  }

  .info-container {
    width: 40vh;
    margin-top: 12px;
  }

  .color-tags {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40vh;  
}

.color-tag {
    margin-top: 5px;
}

.color-tag-info {
  font-size: 13.5px;
}

  .output-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .color-tag-title {
    font-size: 14px;
  }

  .method-container {
    width: 40vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;
} 

.method-title {
  font-size: 14px;  
  
}

.method-info {
  font-size: 12px;
  
}

.lock-toggle {
  font-size: 14px;

}

.export-content {
  width: 40vh; }

.export-header {
  width: 40vh;}

.export-info {
  font-size: 18px;}

.tre-export {
  height: 42px;}

.export-illustration {
  height: 40vh !important;
  width: 40vh !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.popup-buttons {
  font-size: 14px;
  flex-direction: column-reverse;
}

}